<template>
    <div>
        <div class="container">
                <div class="main-content col-8 offset-2">
                   <router-view></router-view>
                </div>
            <div class="left thumbnail col-2">
                left-thumbnail
            </div>
            <div class="right thumbnail col-2">
                right-thumbnail
            </div>
        </div>
    </div>
</template>
<script>
    export default {}
</script>
<style>
.container{
    position: relative;
    height: 100vh;
}
.left{
    position: absolute;
    bottom: 0;
    left: 0;
}
.right{
    position: absolute;
    bottom: 0;
    right: 0;
}
.thumbnail{
    background-color: green;
    width: 10vw;
    height: 30vw;
}
.main-content{
}
</style>