<template>
	<div class="gallery-container">
		<div class="title">

		</div>
		<div class="gallery-section">
			<div class="gallery-row">
					<div v-for="i in 5"  class="gallery-card">
						<div class="gallery-content">
						</div>
					</div>
			</div>
			<div class="gallery-row">
					<div v-for="i in 5"  class="gallery-card">
						<div class="gallery-content">
						</div>
					</div>
			</div>
			
		</div>
		<div class="submit-section">
				<div class="submit-content">
				</div>
			</div>
	</div>
</template>
<script>
	export default{}
</script>
<style scoped>
.gallery-container{
	width: 100%;
}
.title{
	margin-top: 30px;
	width: 100%;
	height: 20vh;
	background-color: black;
	margin-bottom: 30px;
}
.gallery-row{
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	width: 100%;
	margin-top: 0px;
}
.gallery-section{
	width: 100%;
	margin:auto;
}
.gallery-card{
	width: 20vh;
	height: 20vh;
	background-color: black;
	padding:10px;
}
.gallery-content{
	width: 100%;
	height: 100%;
	background-color: green;
}
.submit-section{
	margin-top: 30px;
	width: 100vh%;
	height: 20vh;
	padding:10px;
	background-color: black;
}
.submit-content{
	width: 100%;
	height: 100%;
	background-color: green;
}
</style>