<template>
  <div>
  	<div class="logo">
  	</div>
  	<div class="row">
  	<div class="register-section">
	  	<div class="register-button" v-on:click="gotoRegisterPage()">
	  		Register
	  	</div>
	  	<div class="register-button" v-on:click="gotoLoginPage()">
	  		Login
	  	</div>
  	</div>
  	</div>
  </div>
</template>

<script>

  export default {
    name: 'Home',
    components: {
    },
    data () {
    	return{};
    },
    methods:{
    	gotoRegisterPage(){
    		this.$router.push('/register');
    	},
    	gotoLoginPage(){
    		this.$router.push('/gallery');	
    	}
    },
    computed: {
    },
    created () {
    }
  }
</script>
<style>
.logo{
	width: 100%;
	height: 60vh;
	background-color: blue;
	margin-top: 5vh;
}
.register-section{
	width: 100%;
}
.register-button{
	background-color: black;
	width: 30vw;
	margin:auto;
	margin-top: 40px;
}
</style>